@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;500&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-dorado: #7e6926;
  --color-dorado-dark: #59540e;
  --color-dorado2: #be9f45;
  --color-dorado3: #f7d06d;

  --color-azul: #061b3f;
  --color-azul-dark: #040822;
  --color-azul-light: #1d58bc;

  --color-blanco-gris: #f2f2fc;
  --color-blanco: #ffff;
  --max-width: 1800px;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #051530;
}

.header-section {
  text-align: center;
  background: url(./../img/2.jpg) center no-repeat;
  object-fit: cover;
  max-width: var(--max-width);
  max-height: 800px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-info {
  background-color: #061b3fc9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  min-height: 30%;
  -webkit-box-shadow: 0px 0px 5px 5px var(--color-azul);
  box-shadow: 0px 0px 5px 1px var(--color-azul);
}

.header-title {
  font-size: 2.5rem;
  font-weight: 400;
  color: transparent;
  background: rgb(128, 100, 52);
  background: linear-gradient(
    to top,
    rgba(128, 100, 52, 1) 0%,
    rgba(239, 184, 16, 1) 35%,
    rgba(239, 184, 16, 1) 65%,
    rgba(128, 100, 52, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.header__section-p {
  color: var(--color-blanco-gris);
  letter-spacing: 2px;
}

.header__section-btn {
  background: var(--color-blanco-gris);
  color: rgb(128, 100, 52);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.header__section-btn:hover {
  color: var(--color-blanco);
  background-color: var(--color-dorado2);
  transform: scale(1.1);
}
.header__section-btn:active {
  color: var(--color-blanco);
  background-color: var(--color-azul);
  transform: scale(1);
}

/* SECCIONES */

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

section {
  padding: 5rem 0rem;
}
.section1 {
  padding: 5rem 1rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  background-color: #051530;
  background: linear-gradient(
    to bottom,
    var(--color-azul-dark) 0%,
    var(--color-azul) 100%
  );
}

.section-info1 {
  overflow: hidden;
  display: flex;
  width: 90%;
  height: 70vh;
  max-width: var(--max-width);
  max-height: 600px;
  transform: translateX(-50%);
  background-color: var(--color-blanco-gris);
  background: linear-gradient(
    45deg,
    rgb(247, 248, 255) 65%,
    rgb(255, 255, 251) 35%
  );
  margin: 0 auto 0 0;
  border-radius: 20% 0% 20% 0%;
  box-shadow: 18px 10px 0px 0px var(--color-dorado);
  -webkit-box-shadow: 18px 10px 0px 0px var(--color-dorado);
  -moz-box-shadow: 18px 10px 0px 0px var(--color-dorado);
  z-index: 100;
  transition: transform 0.5s ease;
}

.section-info1:nth-child(2) {
  transform: translateX(50%);
  background-color: var(--color-blanco);
  background: linear-gradient(
    135deg,
    rgb(255, 255, 251) 35%,
    rgb(247, 248, 255) 0%
  );
  border-radius: 0% 20% 0% 20%;
  margin: 0 0 0 auto;
  box-shadow: -18px 10px 0px 0px var(--color-azul-light);
  -webkit-box-shadow: -18px 10px 0px 0px var(--color-azul-light);
  -moz-box-shadow: -18px 10px 0px 0px var(--color-azul-light);
}

.section-info1.watch {
  transform: translate(0, 0);
}

.section-info1 .section-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.section-info1 .section-h2 {
  color: var(--color-dorado);
  text-align: center;
  background-color: #30290517;
  border: none;
  border-right: 5px solid var(--color-dorado);
  padding: 1rem;
}

.section-info1:nth-child(2) .section-h2 {
  border: none;
  color: var(--color-azul);
  background-color: #052d3017;
  border-left: 5px solid var(--color-azul);
}

.section-info1:nth-child(2) .section__article-p {
  color: var(--color-azul-light);
}
.section-info1 .section__article-p {
  font-size: 1.2rem;
  color: var(--color-dorado);
  width: 80%;
  margin: auto;
  line-height: 2;
  padding: 0 1rem;
  font-weight: 600;
  text-align: justify;
}

.section-info1 .section__article-img {
  width: 50%;
  object-fit: cover;
  object-position: top;
  height: 100%;
}

/* SECCIÓN IDENTIDAD */

.section2 {
  padding: 5rem 0;
  background-color: #ffffff;
}
.section-info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/7.jpg) top center fixed;
  background-size: cover;
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-10%);
  overflow: hidden;
  box-shadow: 10px 10px 0px 0px var(--color-dorado);
  -webkit-box-shadow: 10px 10px 0px 0px var(--color-dorado);
  -moz-box-shadow: 10px 10px 0px 0px var(--color-dorado);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.section-info2.watch {
  opacity: 1;
  transform: translate(0, 0);
}

.section-articles {
  display: flex;
}
.section-info2 .section-h2 {
  font-size: 2rem;
  width: 100%;
  margin: 0 auto;
  color: var(--color-dorado);
  text-align: center;
  background-color: #fff8e8ec;
  border: none;
  padding: 1rem;
}

.section-info2 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.section-info2 .section-article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
}
.section-info2 .section__article-h3 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
  color: var(--color-dorado-dark);
}
.section-info2 .section__article-p {
  font-size: 1rem;
  text-align: justify;
  line-height: 2;
  width: 100%;
}

/* SECTION 3 */

.section3 {

  background-color: var(--color-blanco);
  width: 100%;
  margin: auto;
  background: linear-gradient(
    45deg,
    rgba(64, 86, 255, 0.5) 0%,
    rgba(138, 138, 43, 0.5) 100%
  );
}

.section-info3 {
  visibility: hidden;
  opacity: 0;
  display: flex;
  background-size: cover;
  min-height: 10vh;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  transition: opacity 1s ease, visibility 1s ease, transform .3s ease;
}
.section-info3.watch{
  opacity: 1;
  visibility: visible;
}
.section-info3 .section-article {
  width: 90%;
  margin: 0 auto;
}
.section-info3 .section__article-h2 {
  font-size: 2rem;
  flex-grow: 0;
  text-align: center;
  padding: 1rem;
  color: var(--color-dorado);
  background-color: #fff8e8;
  border: none;
  padding: 1rem;
}

.section-valor{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 1rem;
}
.valor-content{
  background-color: var(--color-blanco);
  color: var(--color-azul);
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  width: 100%;
  padding: 0 1rem;
  gap: 1rem;
  min-height: 150px;
  border-radius: 10px;
  margin: auto;
  text-align: justify;
  transition: transform 0.2s ease;
  box-shadow:6px 6px 0px 0px var(--color-azul);
  -webkit-box-shadow:6px 6px 0px 0px var(--color-azul);
  -moz-box-shadow:6px 6px 0px 0px var(--color-azul);
}
.valor-content:hover {
  transform: translateX(5px);
}

.valor-icon{
  height: 80px;
}
.valor-info p{
  font-size: 1rem;
}




/* NAVIGATION */

.btn-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 
  1rem;
  
}
.btn-next, .btn-before{
  text-decoration: none;
  color: rgb(13, 16, 92);
  font-size: 1.5rem;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.btn-next:hover, .btn-before:hover{
  color: var(--color-azul-light);
}



/* FOOTER */

.footer {
  color: var(--color-blanco);
  background-color: var(--color-azul-dark);
  min-height: 30vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-logo {
  width: 100%;
}
.footer-logo img{
  margin: auto;
  height: auto;
  max-height: 150px;
  width: 100%;
  object-fit: contain;
}

.footer .footer-socials{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.footer .footer-socials h3{
  text-align: center;
  font-size: 1rem;
}
.footer .footer__socials-links{
  display: flex;
  gap: 1rem;
  justify-content: center;
}


.footer .footer-socials a{
  text-decoration: none;
}
.footer .footer-socials img{
  height: 3rem;
  width: 100%;
  transition: transform .2s ease;
}
.footer .footer-socials img:hover{
  transform: scale(1.1);
}

.footer .footer-ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .3rem;
  height: inherit;
  align-items: center;
  width: 100%;
}

.footer .footer-li {
  list-style: none;
}
.footer .footer-li a {
  text-decoration: none;
  color: transparent;
  font-size: .8rem;
  padding: 0.3rem 0;
  background: rgb(128, 100, 52);
  background: linear-gradient(
    to top,
    rgba(128, 100, 52, 1) 0%,
    rgba(239, 184, 16, 1) 25%,
    rgba(239, 184, 16, 1) 75%,
    rgba(128, 100, 52, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    transition: letter-spacing .2s ease;
  }

.footer .footer-li a:hover {
  border-bottom: 3px solid #cca01c;
  letter-spacing: 1px;
}

@media (max-width: 1200px) {
  .section-info1 .section__article-p {
    font-size: 1rem;
  }


}


@media (min-width: 1600px) {
  .section-info1 .section__article-p {
    font-size: 1.5rem;
  }
  .section-info2 .section__article-p {
    font-size: 1.5rem;
  }

  .valor-icon p{
    font-size: 1.2rem;
  }
}


@media (max-width: 880px){
  /* Sección 1 */
  .section-info1{
    flex-direction: column;
    width: 95%;
    height: auto;
  }
  .section-info1 .section__article-p {
    font-size: 1rem;
    padding: 1rem 0;
    line-height: 1.5;
  }

  .section-info1 .section__article-img{
    width: 100%;
    object-fit: contain;
    display: none;
  }

}

@media (max-width: 600px){
  .section-info2 .section-articles{
    flex-direction: column;
    }
    /* Sección 3 */
    .section-info3 .section-valor{
      grid-template-columns: repeat(auto-fill, 100%);
    }
    .valor-content{
      flex-direction: column;
      padding: 1rem;
      max-width: 300px;
      gap: 0;
    }
    .valor-info p{
      font-size: .9rem;
    }

    .valor-content .valor{
      text-align: center;
    }

    .footer{
      gap: 2rem;
      flex-direction: column;
    }
  
}